//resets//

Details
Activity
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  color: #2b2b2b;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

* {
    font-family:"Poppins",Sans-serif;
}


/*--Container--*/

.container{
    max-width: 130rem;
    padding: 1.5rem;
    margin:0 auto;
}

/*--Header--*/

.header{
    background:#2b2b2b;
    padding:1rem 0;
    font-family:"Poppins",Sans-serif;
    position:relative;
    position: fixed;
    width: 100%;
}

.header .branding {
    display:flex;
    align-items:center;
    gap:1.5rem;
}

.header .branding img{
    width:5rem;
}

.header .branding h3{
    color:white;
    font-size:2.5rem;
    font-weight:600;
}

.header .branding h3 span{
    color:#ffa700;
}

.header .header__wrapper{
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.header .header__nav ul {
    display:flex;
    gap:3rem;
}

.header .header__nav ul li a {
    color:white;
    font-size:1.5rem;
    position: relative;
}

.header .header__nav ul li.active a{
color:#ffa700;
}

.header .header__nav ul li a:after{
    content:"";
    width: 0px;
    height:0.2rem;
    background-color:#ffa700;
    display:block;
    transition:width 0.3s;
}

.header .header__nav ul li a:hover{
    color:ffa700;
    transition: 0.5s ease;
    width:100%;
}

.header .header__nav ul li a:hover:after{
    color:ffa700;
    transition: 0.5s ease;
    width:100%;
}

.header .toggle__menu{
    display:none;
}

.header .toggle__menu span{
    width:3rem;
    height:.3rem;
    background-color:#ffa700;
    display:block;
    border-radius:10rem;
    transition: .5s ease;
}

.header .toggle__menu span:nth-child(2){
    margin: .5rem 0;
}

.header .header__nav.open{
    right:0rem;
    transition: .5s ease;
}

.header .toggle__menu.open span:first-child{
    transform: translateY(8px) rotate(405deg);
    transition: .5s ease;
}

.header .toggle__menu.open span:nth-child(2){
    opacity:0;
    transition: .5s ease;
}

.header .toggle__menu.open span:last-child{
    transform: translateY(-8px) rotate(-405deg);
    transition: .5s ease;
}

@media screen and (max-width:500px){


    .header .header__nav{
        position:absolute;
        background: #2b2b2b;
        top:10rem;
        right:-100rem;
        width:100%;
        height:100vh;
        transition: .5s ease;
        }

    .header .header__nav ul{
        flex-direction:column;
        gap:0;
    }

    .header .header__nav ul li {
        padding:3rem 0;
        text-align:center;

    }

    .header .header__nav ul li a{
        font-size:3rem;
    }

    .header .header__nav ul li:hover a:after{
        width:0;
    }

    .header .header__nav ul li:hover{
        background:gray;
    }

    .header .branding h3{
        color:white;
        font-size:2rem;
        font-weight:600;
    }

    .header .toggle__menu{
        display:block;
    }
}


/*--BANNER--*/

.banner{
    background: #ffffff;
    padding-top: 13rem;
    padding-bottom: 5rem;
}

.banner .banner__wrapper{
    display:grid;
    grid-template-columns:2fr 2fr;
    align-items: center;
}

.banner .banner__text h1{
    font-size:12rem;
    font-weight:800;
    color:#ffa700;
    line-height: 1;
}

.banner .banner__text p{
    margin: 4rem 0;
    max-width: 45rem;
    text-align: justify;
}

@media screen and (max-width:500px){
    .banner .banner__wrapper{
        display:grid;
        grid-template-columns: 1fr;

    }

    .banner .banner__text{
        order:2;
        text-align: center;
        margin:0 2rem;
        margin-top:3rem;
    }

    .banner .banner__wrapper img{
        width:20rem;
        margin: 0 auto;
    }

    .banner .banner__text h1{
        font-size:3rem;
    }

    .banner .banner__text p{
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
}

/*----HM-SERVICES----*/

.hm-services{
    background: #2b2b2b;
    padding: 5rem 0;
}

.hm-services .hm-services__wrapper{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:8rem;
}

.hm-services .hm-services__item{
    text-align:center;
}

.hm-services .hm-services__item i{
    color:#ffa700;
    font-size:7rem;
}

.hm-services .hm-services__item h4{
    color:#ffa700;
    font-weight:600;
    margin-top:2rem;
    margin-bottom:3rem;
}

.hm-services .hm-services__item p{
    color:white;
    text-align:justify;
    margin-bottom:5rem;
}

@media screen and (max-width:500px){

    
    .hm-services .hm-services__wrapper{
        display:unset;
        display:flex;
        flex-direction:column;
        gap:12rem;
    }

    .hm-services .hm-services__item{
        margin: 0 4rem;
    }

    
}


/*----HM-ABOUT----*/

.hm-about{
    background: #ffffff;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.hm-about .hm-about__wrapper{
    display:grid;
    grid-template-columns:2fr 2fr;
    align-items: center;
}

.hm-about .hm-about__text{
    order:1;
}

.hm-about .hm-about__text h1{
    font-size:2rem;
    font-weight:800;
    color:#ffa700;
    line-height: 1;
}

.hm-about .hm-about__text p{
    margin-top: 3rem;
    margin-bottom: 1rem;
    max-width: 65rem;
    text-align: justify;
}

.hm-about .hm-about__text p:first-child{
    margin-bottom: 2rem;
    max-width: 65rem;
    text-align: justify;
}


.hm-about .hm-about_wrapper img{
    margin: 0 auto;
}

@media screen and (max-width:500px){

    .hm-about .hm-about__wrapper{
        display: grid;
        grid-template-columns: 1fr;
    }

    .hm-about .hm-about__text{
        order:1;
        text-align: center;
        margin:0 2rem;
        margin-top:2rem;
    }

    .hm-about .hm-about__wrapper img{
        width:20rem;
        margin: 0 auto;
    }

    .hm-about .hm-about__text h1{
        font-size:2.5rem;
    }

    .hm-about .hm-about__text p{
        margin-top: 2rem;
        margin-bottom: 3rem;
    }      
}

/*----HM-FREE----*/

.free{
    background: #ffa700;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.free .free__text{
    text-align:center;
}

.free .free__text h1{
    font-size:2.5rem;
    font-weight:800;
    color:#2b2b2b;
    line-height: 1;
}

.free .free__text p{
    margin:1rem 0;
    font-size:2rem;
    font-weight:500;
    color:#2b2b2b;
    line-height: 1;
}

.free .free__text a {
    margin:2rem 0;
}

@media screen and (max-width:500px){

    .free{
        background: #ffa700;
        padding-top: 3rem;
        padding-bottom:1rem;
    }

    .free .free__text{
        text-align:center;
    }
    
    .free .free__text h1{
        font-size:1.8rem;
        font-weight:800;
        color:#2b2b2b;
        line-height: 1;
    }
    
    .free .free__text p{
        margin:1rem 0;
        font-size:1.5rem;
        font-weight:500;
        color:#2b2b2b;
        line-height: 1;
    }
    
    .free .free__text a {
        margin:2rem 0;
        font-size:1.5rem;
    }
}

/*----LATEST TRENDS----*/

.ltrends{
    padding:5rem 0;
    background:#2b2b2b;
}

.ltrends .ltrends__title h2{
    color:#ffa700;
    font-size:4rem;
    font-weight:600;
}

.ltrends .ltrends__title p{
    color:white;
}

.ltrends .ltrends__wrapper{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:8rem;
}

.ltrends .ltrends__card{
    background:white;
    border-radius:2rem;
    margin-top:8rem;
}

.ltrends .ltrends__card img{
    width:100%;
}

.ltrends .ltrends__card__text{
    padding:2rem;
}

.ltrends .ltrends__card .ltrends__card__text h4{
    color:#ffa700;
    font-weight:600;        
}

.ltrends .ltrends__card .ltrends__card__text p{
    margin:3rem 0;
}

.ltrends .ltrends__card .ltrends__card__text a{
    color:#ffa700;
}


@media screen and (max-width:500px){

    .ltrends .ltrends__wrapper{
        display:unset;
        display:flex;
        flex-direction:column;
    }

    .ltrends .ltrends__card{
        margin-left:2rem;
        margin-right:2rem;
        border-radius:3rem;
    }

    .ltrends .ltrends__card:hover{
        transform:scale(1);
    }

}


/*----FOOTER----*/
.footer{
    background:#2b2b2b;
    padding: 1rem 0;
}   

.footer p{
    color:gray
}

.footer .footer__left{
    display:flex;
    gap:4rem;
    align-items: center;
}

.footer .footer__left ul{
    display:flex;
    align-items:center;
    gap: 2.5rem;
}
.footer .footer__wrapper{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.footer .footer__left ul li a{
    font-size:2.5rem;
    color:gray;
}

.footer .footer__left ul li:hover a{
    color:#ffa700;
}

.footer .footer__left ul li:hover{
    transform:scale(1.1);
    transition: .2s ease;
}

@media screen and (max-width:500px){
 
.footer .footer__left{
    flex-direction:column;
    gap:1rem;
}

.footer .footer__wrapper{
    flex-direction:column;
    gap:1rem;
}

.footer .footer__left ul li a{
    font-size:2rem;
    color:gray;
}

}


/*----UPDATES----*/
.updates {
    background:white;
    padding-top:13rem;
    padding-bottom:5rem;
}

.updates .updates__title h1{
    font-size:5rem;
    color:#ffa700;
    font-weight:600;
}

.updates .updates__wrapper {
    display: grid;
    grid-template-columns:2.5fr 1.5fr;
    grid-gap:5rem;
    margin-top:10rem;
}

.updates .updates__left__item:first-child {
    padding-bottom:5rem;
    border-bottom:1px solid red;
}
.updates .updates__left__item:not(:first-child,:last-child){
    padding:5rem 0;
    border-bottom: 1px solid red;
}
.updates .updates__left__item:last-child {
    padding:5rem 0;
}

.updates .updates__left__item img{
    width:100%;     
}

.updates .updates__left__item ul{
    display:flex;
    align-items:center;
    gap:5rem;
    margin:1rem 0; 
}

.updates .updates__left__item ul li{
    display:flex;
    align-items:center;
    gap:1rem;
}

.updates .updates__left__item__text{
    margin-top:5rem;
}

.updates .updates__left__item__text h2{
    color:#ffa700;
    font-size:2.5rem;
    font-weight:600;
}

.updates .updates__left__item__text p{
    margin:3rem 0;
    text-align:justify;
}

.updates .updates__left__item__text a{
    color:#ffa700;
}



















/*----REPEATABLE PATTERNS----*/

.btn{
    display:inline-block;
    border-radius:5rem;
    padding: 1rem 2rem;
    border:1px solid transparent;
}

.btn.yellow{
    background:#ffa700;
    color:white;
}

.btn.yellow:hover{
    background:#2b2b2b;
    border: 1px solid #ffa700;
    color:#ffa700;
}

.btn.dark{
    background:#2b2b2b;
    color:white;
}

.btn.dark:hover{
    background:#ffa700;
    border: 1px solid #2b2b2b;
    color:#2b2b2b;
}



